.burgerMenuIcon {
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.header {
    position: relative;
    margin-bottom: 47px;
    padding: 0 70px;
    height: 60px;
    width: 100vw;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 0 2px 0 rgba(29, 33, 38, 0.1), 0 0 40px 0 rgba(29, 33, 38, 0.13);
}

.header h1 {}