.button {
    height: 30px;
    padding: 5px 24px;

    color: #fff;
    font-weight: 600;

    border: none;
    border-radius: 3px;

    transition: all .3s ease;

    &:hover:not(:disabled) {
        cursor: pointer;
    }
}

.disabled {
    background: #004d99;
    opacity: 0.5;
    color: #002e5c;
}

.secondary {
    border: 1px solid #06c;
    border-radius: 3px;
    padding: 5px 24px;
    height: 30px;

    background: #fff;
    color: #06c;
}

.default {
    background-color: #06c;
}

.red {
    background: #cc1439;
}

.default:hover {
    background: #0080ff;
}

.red:hover {
    background: #ff1a47;
}

.secondary:hover {
    background: #e5f0fa;
}


.default:active {
    background: #0059b2;
}

.secondary:active {
    background: #c9e5ff;
}

.red:active {
    background: #b21232;
}

.button:disabled {}

.smallSuperBtn {
    width: 140px;
    margin-top: 12px;
    margin-bottom: 263px;
    display: flex;
    justify-content: center;
    align-items: center;
}